body {
    background-color: white; 
    margin-right: 310px;
    margin-left: 310px;
}
#header {
    border-style:hidden;
    border-color:none;
    border-bottom: thick;
    border-bottom-style:solid;
    border-bottom-color: red; 
    font-family:monospace;
}
h1 {
    text-align: right;
}
h2 {
    text-align: right;
}

#middle-wrapper {
    
}
#main-content-wrapper{background-color: #fff;}

.side-by-side{}

#main-content-wrapper 

.image-content{text-align: center; margin:0 auto; margin-top: 50px;}


#main-content-wrapper article p{max-width: 300px; margin: 0 auto;}

#main-content-wrapper 
#skills{text-align: center; font-weight: 300; letter-spacing: 2px;}

#main-content-wrapper



#skills span{
    font-weight: 400;
}    


/*
#logos {
    text-align:center;
    display:flex;
    justify-content: space-around;
}
*/
#text {
    color: black;
    font-size: 50px;
    font-family:monospace;
}

#img1, #img2, #img3, #img4{
	width: 410px;
	height: 400px;
	float: left;
	text-align: center;
    font-family: monospace;
    font-size: 30px;
}


