body {
    background-color: white; 
}
#header {
    border-style:hidden;
    border-color:none;
    border-bottom: thick;
    border-bottom-style:solid;
    border-bottom-color: red; 
    font-family:monospace;
}
h1 {
    text-align: right;
}
h2 {
    text-align: right;
}

#middle-wrapper {
    
}
#main-content-wrapper{background-color: #fff;}

.side-by-side{}

#main-content-wrapper 

.image-content{text-align: center; margin:0 auto; margin-top: 50px;}

/*.image-content > img{max-width: 200px; border-radius: 50%;}*/

.image-content > h4{font-family: 'Lato',sans-serif; font-weight: 300; color: #0CE88D}

.image-content > h4 > a{color: #0CE88D}

.image-content > h4 > a:hover{color: #0D9DFF}
#main-content-wrapper article{}
#main-content-wrapper article h2{text-align: center;}

#main-content-wrapper article p{max-width: 300px; margin: 0 auto;}

#main-content-wrapper 
#skills{text-align: center; font-weight: 300; letter-spacing: 2px;}

#main-content-wrapper

#skills span{font-weight: 400; 
    #favorite-sites {
        display:felx;
        justify-content: space-around;
    }